@charset "utf-8"; 
@import url(http://ts.daumcdn.net/custom/blog/0/606/skin/images/nanumgothic.css);

#wrap{width: 100%; height: 100%; font-family: '함초롬바탕';}

ul.tp_mnu>li{ margin-right: 15px; display: inline-block; color: black; font-size: 17px;line-height: 50px;}

ul.tp_mnu>li>a{padding: 8px; padding-top: 4px; padding-bottom: 4px; color: black;font-weight: 600;18px; background-color: white; border-radius: 15px;}

ul.tp_mnu>li>a:hover{color: white; background-color: crimson; }

ul.tp_mnu{position: absolute; top: 0px; width: 100%; height: 50px; text-align: right;background-color: black; font-family: 'Nanum Gothic';}





footer{ position:absolute;top: 700px;left: 270px; padding-top:10px;width: 80%; height: 30px; color: gray;  font-weight: 700; text-align: center; border: 1px solid transparent; border-top-color: gray;}

div.backimg{position:absolute; top: 50px; width:240px; height:700px;; background-image: url(../image_source/Photo%20by%20Tobias%20Tullius%20on%2ㄴ0Unsplash.jpg);}

div.left{position: absolute;top: 50px; width: 240px; height: 700px; background-color: black; opacity: 0.6;}


h1.tit{margin-top: 70px; margin-left: 10px; margin-right: 10px; color: white;font-size:23px;font-weight: 100; font-family: '함초롬바탕'; line-height: 25px}

h1.tit>span.font{color: crimson; font-size: 32px; font-weight: 700;}

ul.left{margin:80px 15px 0px;}

ul.left>a>li{ margin-bottom: 20px; padding-left: 20px; height: 50px; font-size: 18px; font-family: 'nanum';line-height: 50px; border: 1px solid white; opacity: 0.4}

ul.left>a>li.etc{color: white; border: 1px solid white; opacity: 1;}

ul.left>a>li:hover{color: white; border: 1px solid white; opacity: 1;}

div.cent{position: absolute; top: 60px; left: 250px; overflow-y: scroll; width: 1260px; height: 630px;}

div.cent>h1{margin-top: 30px; margin-left: 10px;color: crimson;font-size:45px;font-weight: 100; font-family: '함초롬바탕';}

p.reason{ margin:30px 30px 0; font-size: 18px; line-height: 25px;}




div.samdodong{margin:50px 20px; 0; font-family: '함초롬바탕'; }

div.samdodong>h2{color: black; font-size: 38px; font-weight: 200;}

a.url{color: crimson; font-weight: 100;}
a.url:hover{font-weight: 800;}

h2.subtit{margin-top: 40px; margin-left: 20px;}
div.pt_1,div.pt_2,div.pt_3,div.pt_4,div.pt_5{margin-top: 20px; margin-left: 30px;}
h3.scene{margin-bottom: 10px; font-size: 18px; color: black; font-weight: 300;}
div.music_1{display: inline-block;position: absolute;margin-left: 80px; padding-left: 70px; width: 400px; height: 280px;  border: 1px solid transparent; border-left: 1px solid grey;}
h3.bgm{font-size: 25px; margin-top: 20px;} 
h4.title{margin-top: 30px; margin-bottom: 10px; font-size: 16px; font-weight: 600;}


div.pt_5>div.para_1>p.sketch{margin-bottom:40px; font-size: 20px; color: black;line-height: 25px;}

div.pt_5>div.para_1>h3.scene{display: inline-block; }
h3.scene+p.sketch{display: inline-block; }
div.sketch_1>audio{display: inline-block; }

h4.title_mu{display: inline-block;margin-top: 30px; margin-bottom: 10px; font-size: 16px; font-weight: 600;}
/*audio file에 공백이 없어야해*/

div.pt_5>div.para_1>p.sketch>span{color: crimson;}
div.pt_5>div.para_1>h3.scene{margin-top: 50px; font-size: 25px;}


div.mu{display: inline-block;position: relative; top: -100px; left: 400px;padding-left: 60px; border-left: 1px solid grey;}

div.mu_2{display: inline-block;position: relative; top: -100px; left: 450px;}

div.para_1{ position: relative; top: 90px; left: 20px;}

h2.subtit{margin-top: 40px; margin-left: 20px;font-weight: 200;color: black; font-size: 45px;}

div.illust>img.frst{margin-top: 20px;margin-left: 50px; width: 500px;}
div.illust_para{margin-left: 25px; font-size: 25px;}
div.illust_para>p{margin-left: 25px; font-size: 20px;}
div.illust_para>h2{margin-bottom: 25px;}
img.sec{margin-left: 30px; width: 500px;}

div.etc{margin-top: 120px; margin-left: 25px;}
div.etc>h2.subtit{margin-bottom: 25px;}
div.etc>p.desc{margin-left: 25px; font-size: 20px;}

div.etc>img{margin-top: 20px; width: 280px;}
div.etc>img.frst{margin-left: 25px;}
div.etc>img.sec{margin-left: 1px;}

p.img_tit_1,p.img_tit_2,p.img_tit_3,p.img_tit_4{display: inline-block;margin-left: 88px; margin-bottom: 20px;}
p.img_tit_2{margin-left: 148px;}
p.img_tit_3{margin-left: 164px;}
p.img_tit_4{margin-left: 168px;}

div.cent>h1.project_2{margin-top: 80px;}
div.etc{padding-bottom: 10px; width: 1180px; border: 1px solid transparent; border-bottom:1px solid grey;}

div.graph>img.ui{margin-bottom: 20px; margin-left: 30px; width: 400px;}
div.graph>img.select{margin-bottom: 20px;width:  400px; }

div.graph>h3.scene{margin-left: 30px; margin-top: 30px;}

img.map{margin-bottom: 20px; margin-left: 30px; width:500px;}

span.bold{font-weight: 800; text-decoration: underline;}



















