@charset "utf-8"; 
@import url(http://ts.daumcdn.net/custom/blog/0/606/skin/images/nanumgothic.css);

#wrap{width: 100%; height: 100%; font-family: '함초롬바탕';}

ul.tp_mnu>li{ margin-right: 15px; display: inline-block; color: black; font-size: 17px;line-height: 50px;}

ul.tp_mnu>li>a{padding: 8px; padding-top: 4px; padding-bottom: 4px; color: black;font-weight: 600;18px; background-color: white; border-radius: 15px;}

ul.tp_mnu>li.sns>a{color: white; background-color: crimson;}

ul.tp_mnu>li>a:hover{color: white; background-color: crimson; }
ul.tp_mnu{position: absolute; top: 0px; width: 100%; height: 50px; text-align: right;background-color: black;}



footer{ position:absolute;top: 700px;left: 270px; padding-top:10px;width: 80%; height: 30px; color: gray;  font-weight: 700; text-align: center; border: 1px solid transparent; border-top-color: gray;}

div.backimg{position:absolute; top: 50px; width:240px; height:700px;; background-image: url(../image_source/Photo%20by%20Tobias%20Tullius%20on%20Unsplash.jpg);}

div.left{position: absolute;top: 50px; width: 240px; height: 700px; background-color: black; opacity: 0.6;}


h1.tit{margin-top: 70px; margin-left: 10px; margin-right: 10px; color: white;font-size:23px;font-weight: 100; font-family: '함초롬바탕'; line-height: 25px}

h1.tit>span.font{color: crimson; font-size: 32px; font-weight: 700;}

ul.left{margin:80px 15px 0px;  }

ul.left>a>li{ margin-bottom: 20px; padding-left: 20px; height: 50px; font-size: 18px; font-family: 'nanum';line-height: 50px; border: 1px solid white; opacity: 0.4}

ul.left>a>li:hover{color: white; border: 1px solid white; opacity: 1;}

div.cent{position: absolute; top: 60px; left: 250px;width: 1260px; height: 630px;/* border: 1px solid grey;*/}












